<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
    <ul>
      {% if books %}
        {% for book in books %}
        <li><a href="http://127.0.0.1:5000/delete/{{ book.id }}">Delete</a> {{ book['title'] }} - {{ book['author'] }} - {{ book['rating'] }}/10 <a href="http://127.0.0.1:5000/edit-rating/{{ book.id }}">Edit Rating</a></li>
        {% endfor %}
      {% else %}
      <p>Library is empty</p>
      {% endif %}
    </ul>

    <a href="{{ url_for('add') }}">Add New Book</a>
  </body>
</html>
