<head>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<header style="background-color: white;" class="mb-auto">
    <div>
      <nav class="nav nav-masthead justify-content-center">
  <a style="margin: 20px 10px;" href="{{ url_for('home') }}">Home</a>
  <a style="margin: 20px 10px;" href="{{ url_for('projects') }}">Projects</a>
  <a style="margin: 20px 10px;" href="{{ url_for('experiences') }}">Experiences</a>
  <a style="margin: 20px 10px;" href="{{ url_for('contact') }}">Contact</a>
</nav>
    </div>
  </header>