<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Satwik's Website</title>
</head>
<body>
{% include "header.html" %}
<div class="card-container">
{% for project in projects %}
<div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="static/images/github-icon.webp"> <!--src="{{ project['img_url'] }}"-->
            <a href="{{ project['html_url'] }}">
                <div class="card-body">
              <p class="card-text" style="font-size: 20px">{{ project['name'] }}</p>
              <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 5px">
<!--                <div class="btn-group">-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                </div>-->
                <small class="text-body-secondary" style="font-size: 16px">{{ project['pushed_at'].split('T')[0] }}</small>
              </div>
            </div>
            </a>
          </div>
        </div>
{% endfor %}
</div>
{% include "footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
</body>